/* General CSS */
body {
    margin: 0px;
}

/* Header part css */
.headerContainer{
    border-bottom: 1px solid #767676;
}
.HeadingAd {
    margin: 1rem;
    background-color: #ececec;
    height: 100px;
}


/* Middle part css */
.leftDiv{
    width: 19%;
    float: left;
    border-right: 1px solid #767676;
}
.SecondAd {
    margin: 1rem;
    background-color: #ececec;
    height: 800px;
}


.middleDiv{
    width: 60%;
    float: left;
}
.MainPart {
    background-color: #ececec;
    margin: 1rem;
    height: 800px;
}

.rightDiv{
    width: 19%;
    float: left;
    border-left: 1px solid #767676;
}
.SidePart {
    margin: 1rem;
    background-color: #ececec;
    height: 800px;
}